<h2>All users</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>User_name</th>
			<th>User_email</th>
			<th>User_phone</th>
			<th>Date_time</th>
			<th>Barber</th>
			<th>Color</th>
		</tr>	
	</thead>

	<tbody>
		<% @results.each do |row| %>
		<tr>
			<% row.each_index do |i| %>
			<td><%= row[i] %></td>
			<% end %>
		</tr>
		<% end %>
	</tbody>


</table>